# Open AI key
SANITY_PROJECT_ID=igf6eeh7
SANITY_DATASET=development
SANITY_API_TOKEN=skiD8pypz26I6j9gQrrm79ICdci5s6FQiEdhhg4uThIjy1pLpUlPjOR1anRDZ5AYKDgaoHirPJGV8MyPJIaMqxp2RsoYkneMNeLS8dsYjNMaKC2EUSPLa9EmUhAUTOqIQ82u3e7DKDqbl9IuSFyqrTr4kbDy2upcfAPpwoa3Ggw62vUbWxgt
TRANSLATION_API_BASE_URL=http://localhost:3000
SANITY_STUDIO_TRANSLATION_API=http://localhost:3000


OPENAI_API_KEY=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
DEEPL_API_URL=https://api-free.deepl.com/v2/translate
DEEPL_API_KEY=15b5864e-24c8-4097-b7c8-16aa24ad1c0a